.page {
  width: 100%;
  min-height: 100vh;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;

    input {
      margin-bottom: 0.75rem;
    }
  }
}

.sign-up-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;

    input {
      margin-bottom: 0.75rem;
    }
  }
}

.index-page {
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
